
# ALLGEMEIN ....................................................

# Dateiformate
*~
*qar
*bak

# Ordner 
lab2_proj
DTP_2_Synthesizer



# SYNTHESE..........................................................

FPGA/synthese/**/*
!FPGA/synthese/DE2115pin.tcl
!FPGA/synthese/*.qdf            # Default assignments 
!FPGA/synthese/*.qpf            # Project file
!FPGA/synthese/*.qsf            # Assignments (except timing)

# !FPGA/synthese/*.sdc          # Timing constrains
# !FPGA/synthese/*.cdf          # Programming chain settings



# SIMULATION .......................................................

FPGA/simulation/**/*

# !FPGA/simulation/script/*.do



# VHDL.............................................................

FPGA/vhdl/**/*
!FPGA/vhdl/*.vhd              # VHDL source
!FPGA/vhdl/*.bdf              # Schematic
!FPGA/vhdl/*.bsf              # Symbols
!FPGA/vhdl/*.mif              # Memory init
!FPGA/vhdl/*.ptf              # SOPC file (old but recommended)
!FPGA/vhdl/*.qip              # MegaWizard IP
!FPGA/vhdl/*.sopc             # SOPC file
!FPGA/vhdl/*.tcl              # Pin assignments Scripts



# DOKUMENTATTION (noch nicht in git)................................

# Ordner
docu

# tex auxiliary files.........
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

# tex pdf ......................
*.pdf

# bibtex ........................
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
