
# ALLGEMEIN ....................................................

# Dateiformate
*~
*qar
*bak
*qws
*kpt
*done
*rpt
*summary
*smsg
*jdi
*qarlog
*qws
*qsf
*qdf
 
# SYNTHESE
**/**/incremental_db/*
**/**/db/*
**/**/output_files/*
**/**/simulation/*
