
# ALLGEMEIN ....................................................

# Dateiformate
*~
*qar
*bak
*.qws


# Ordner 
lab2_proj/
DTP_2_Synthesizer/
FPGA/


# SYNTHESE.........................................................

# Ordner nicht comitten
**/synthese/db/
**/synthese/output_files/
**/synthese/simulation
**/synthese/incremental_db

**/synthese_3/db/
**/synthese_3/output_files/
**/synthese_3/simulation
**/synthese_3/incremental_db



# SIMULATION ......................................................

Cyclone_II/simulation/**/*
# !Cyclone_II/simulation/script/*.do

Cyclone_IV/simulation/**/*
# !Cyclone_IV/simulation/script/*.do


# VHDL.............................................................




# DOKUMENTATTION (noch nicht in git)...............................

# Ordner
docu

# tex auxiliary files.........
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc


# bibtex ........................
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
